@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #B10E0E;
  --accent: #B10E0E;
   --hover: rgba(0, 0, 0, 0.06);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  transition: background-color 200ms ease;
}

html:not(.theme-ready) * {
  transition: none !important;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
   --hover: rgba(255, 255, 255, 0.18);
   --accent: #0a0a0a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}